*aux 
*bbl 
*blg 
*log 
*pdf 
*toc 
*out
*~
*.backup
LitReview/*aux 
LitReview/*bbl 
LitReview/*blg 
LitReview/*log 
LitReview/*pdf 
LitReview/*toc 
LitReview/*out
LitReview/*~
LitReview/*.backup
Appendices/*aux 
Appendices/*bbl 
Appendices/*blg 
Appendices/*log 
Appendices/*pdf 
Appendices/*toc 
Appendices/*out
Appendices/*~
Appendices/*.backup
